//colors
$white: white;
$color_log_cabin_approx: #222222;
$color_dingley_approx: #698f3f;
$color_chelsea_cucumber_approx: #83b24f;
$color_fuscous_gray_approx: #555555;
$color_lochmara_approx: #0079c2;
$color_olivine_approx: #9cc173;
$color_endeavour_80_approx: rgba(0, 85, 165, 0.8);
$color_kumera_approx: #89612e;
$color_pine_glade_approx: #b5d196;
$color_tussock_approx: #d29948;
$color_kumera_80_approx: rgba(137, 97, 46, 0.8);
$black: #000;
$color_twine_approx: #cc9b59;
$color_cape_cod_approx: #404040;
$color_cararra_approx: #ececec;
$color_dove_gray_approx: #6a6a6a;
$color_concord_approx: #7d7d7d;
$color_nobel_approx: #b4b4b4;
$color_pink_swan_approx: #bbbbbb;
$color_gallery_approx: #eeeeee;
$color_gravel_approx: #4a4a4a;
$color_whiskey_approx: #cca46c;
$color_teak_approx: #ba9663;
$color_bright_gray_approx: #3a424c;
$color_pot_pourri_approx: #f1e8dd;
$color_quill_gray_approx: #d4d4d4;
$color_cloud_approx: #c4c4c4;
$color_black_haze_approx: #f7f7f7;
$color_copper_approx: #b07b2c;
$color_reno_sand_approx: #a56d1a;
$color_mandalay_approx: #a07028;
$color_tapa_approx: #757575;
$color_chicago_approx: #565656;
$color_mountain_mist_approx: #919191;
$color_di_serria_approx: #d89b4e;
$color_driftwood_approx: #b38040;
$black_10: rgba(0, 0, 0, 0.1);

//fonts
$font_0: 'Lato';
$font_1: 'sans-serif';
$font_2: 'Lato';
$font_3: 'sans-serif';
$font_4: 'Open Sans';
$font_5: 'sans-serif';

//urls
$url_0: url('../assets/img/home/tour-icon2.png');
$url_1: url('../assets/img/aboutus/right.png');
$url_2: url('../assets/img/aboutus/left.png');
$url_3: url('../assets/img/portfolio/icon.png');
$url_4: url('../assets/img/portfolio/left.png');
$url_5: url('../assets/img/portfolio/right.png');
$url_6: url('../assets/img/blog/left.png');
$url_7: url('../assets/img/blog/right.png');
$url_8: url('../assets/img/blog/blog-arrow.png');
$url_9: url('../assets/img/contact-bg.png');
$url_10: url('../assets/img/icon-map.png');
$url_11: url('../assets/img/home/tour-bg.png');