@import '~app/shared/colors.scss';

#page-breadcrumb {
  background-image: url(../assets/img/home/tour-bg.png);
  background-color: darken($white, 10%);
  background-repeat: repeat-x;
  height: 155px;
  background-position: center;
  display: table;
  position: static;
  width: 100%;
}