@import '~app/shared/colors.scss';

#page-breadcrumb {
  background-image: url(../assets/img/home/tour-bg.png);
  background-color: darken($white, 10%);
  background-repeat: repeat-x;
  height: 155px;
  background-position: center;
  display: table;
  position: static;
  width: 100%;
}

#clients {
  padding-bottom: 45px;
}

.clients {
  margin-bottom: 45px;
}

.clients img {
  display: inline-block;
}

.clients-logo {
  overflow: hidden;
  margin-bottom: 10px;
}