<!DOCTYPE html>
<app-slide-show></app-slide-show>
<section id="services">
  <div class="container">
    <div class="row" >
      <app-service *ngFor="let service of services" [service]="service"></app-service>
    </div>
  </div>
</section>
<app-call-to-action [data]="callToAction"></app-call-to-action>
<app-feature-list></app-feature-list>
<app-spotlight></app-spotlight>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/lightbox.min.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
